.contacts {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    padding: 0 10% 0 10%;
}
/*
.contacts__container {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    padding: 0 10% 0 10%;
}
*/

.contacts__address__list {
    list-style-type: none;
    padding: 0;
 }
/*
.contacts__container ul {
   list-style-type: none;
   padding: 0;
}
*/

.contacts__address__list__item {
    display: flex;
    align-items: center;
    gap: 20px;
}
/*
.contacts__container ul li {
    display: flex;
    align-items: center;
    gap: 20px;
}
*/

.contacts__address__list__item--highlight {
    color: #ff5c00;
}
/*
.phone__number {
    color: #ff5c00;
}
*/

.icon-uniE904:before {
    color: #ff5c00;
    font-size: 3vw;
}

.icon-uniE905:before {
    color: #ff5c00;
    font-size: 3vw;
}

.contacts__social__list {
    list-style: none;
}

.contacts__social__list__item {
    cursor: pointer;
    opacity: 70%;
}
/*
.facebook,
.linked__in {
    cursor: pointer;
    opacity: 70%;
}
*/

.contacts__social__list__item:hover {
    opacity: 100%;
}
/*
.facebook:hover,
.linked__in:hover {
    opacity: 100%;
}
*/

.contacts__social__list__item__link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
/*
.contacts__container ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
*/

@media (max-width: 767px) {
    .contacts {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}
/*
@media (max-width: 767px) {
    .contacts__container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}
*/

